/*-- scss:defaults --*/

// Base document colors
$body-bg: #45323d;
$body-color: #dedede;
$link-color: #75AADB;
$code-color: #f2eca8;

// Navigation element colors
$footer-bg: #634f5a;
$navbar-bg: #634f5a;
$sidebar-bg: #634f5a;
