/*-- scss:defaults --*/

// Base document colors
$body-bg: #faf2f2;
$body-color: black;
$link-color: #75AADB;

// Navigation element colors
$footer-bg: #634f5a;
$navbar-bg: #634f5a;
$sidebar-bg: #634f5a;
