/*-- scss:defaults --*/

// Base document colors
$body-bg: white;
$body-color: black;
$link-color: #75AADB;

// Navigation element colors
$footer-bg: #c98ec9;
$navbar-bg: #c98ec9;
$sidebar-bg: #c98ec9;
